/* Style for the login page */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to left , #9018c4,rgb(255, 65, 65));
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Title */
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: white;
    text-align: center;
}

h1:hover {
    color: red;
}

/* Container */
.container {
    display: flex;
    width: 800px;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

/* Left side */
.left {
    width: 100%;
    background-image: url('https://images.unsplash.com/photo-1504674900247-0877df9cc836');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    animation: fadeIn 0.8s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Right1 side */
.right1 {
    width: 50%;
    padding: 40px;
    text-align: center;
}

.right1 h2 {
    margin-bottom: 20px;
    color: #ff5e62;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background: #ff5e62;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #ff9966;
}

p {
    margin-top: 15px;
}

span {
    color: #ff5e62;
    cursor: pointer;
}

/* Right1 side */
.right2 {
    width: 50%;
    padding: 40px;
    text-align: center;
}

.right2 h2 {
    margin-bottom: 20px;
    color: #ff5e62;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background: #ff5e62;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #ff9966;
}

p {
    margin-top: 15px;
}

span {
    color: #ff5e62;
    cursor: pointer;
}
